<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udc.master.tfm.tracksports"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <!--
    <permission android:name="com.udc.master.tfm.tracksports.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.udc.master.tfm.tracksports.permission.MAPS_RECEIVE"/> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/running"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:requestLegacyExternalStorage="true" >

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAg6oOQGvq4pxEQX6y1SqmwquQGgEwJUug" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.udc.master.tfm.tracksports.fragments.profile.add.AddProfileActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name="com.udc.master.tfm.tracksports.fragments.diary.detail.ExerciseDetailActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name="com.udc.master.tfm.tracksports.fragments.diary.addexercise.AddPendingExercise"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
        </activity>

        <service android:name="com.udc.master.tfm.tracksports.alarm.AlarmService" android:enabled="true" />
        <receiver android:name="com.udc.master.tfm.tracksports.alarm.AlarmReceiver"/>
        <receiver android:name="com.udc.master.tfm.tracksports.alarm.DiscardExerciseReceiver"/>
        <receiver android:name="com.udc.master.tfm.tracksports.alarm.StartExerciseReceiver"/>

    </application>

</manifest>